*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    background-color: black;
    height: 5rem;
    color: aquamarine;
    font-size: 3rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choice:hover {
    background-color: black;
    cursor: pointer;
    opacity: 0.8;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin-top: 4rem;   
}
.score{
    display: flex;
    justify-content: center;

}
.score-board{
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
#user,#comp {
    font-size: 3rem;
}
#play {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: aquamarine;
    display: inline;
    border-radius: 1rem;
}